@font-face {
    font-family: gabriola;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
        local("Gabriola-Regular"),
        local("Gabriola Regular"),
        url("../fonts/gabriola.woff2") format("woff2"),
        url("../fonts/gabriola.woff") format("woff"),
        url("../fonts/gabriola.ttf") format("ttf");
}

@font-face {
    font-family: montserrat;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
        local("Montserrat-Regular"),
        local("Montserrat Regular"),
        url("../fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat-Regular.woff") format("woff"),
        url("../fonts/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
    font-family: montserrat;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src:
        local("Montserrat-Medium"),
        local("Montserrat Medium"),
        url("../fonts/montserrat-medium.woff2") format("woff2"),
        url("../fonts/Montserrat-medium.woff") format("woff"),
        url("../fonts/Montserrat-medium.ttf") format("ttf");
}